<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>HMS Mini Stock</title>
	<!-- CSS LINKS HERE -->
	<th:block th:insert="~{/fragments::link}" />
	<style>
		.ui-datepicker {
			background: #333;
			border: 1px solid #555;
			color: #eee;
			padding: 0.8em;
		}

		.bg-navy {
			background-color: navy;
			color: antiquewhite;
		}
	</style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<!-- Preloader -->
		<div class="preloader flex-column justify-content-center align-items-center">
			<img class="animation__shake" th:src="@{/assets/dist/img/TeamBateP.png}" alt="TEAM BETA" height="60"
				width="100" />
		</div>

		<!-- Navbar -->
		<nav th:insert="~{/fragments::theNavbar}"></nav>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<aside th:insert="~{/fragments::theSidebar}"></aside>
		<!-- Main Sidebar Container end -->

		<!--  main content -->
		<div class="content-wrapper">
			<section class="content">
				<!-- Content Header (Page header) -->
				<div class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1 class="m-0">Dashboard</h1>
							</div>
							<!-- /.col -->
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item active">Dashboard</li>
								</ol>
							</div>
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- /.content-header -->

				<div class="container-fluid">

					<div class="col-md-10 offset-md-1">
					<label style="color: red;" th:text=${error}></label> 
						<form th:action="@{/ministock/setUpAddStock}" method="post" th:object="${miniStock}"
							class="my-5" enctype="multipart/form-data">
							<div class="row">

								<div class="form-group col-md-4">
									<label for="stockName">Stock Name</label> <input type="text" class="form-control"
										id="stockName" th:field="*{name}" />
								</div>

								<div class="form-group col-md-4">
									<label for="qty">Quantity</label> <input type="text" class="form-control" id="qty"
										th:field="*{qty}" />
								</div>

								<div class="form-group col-md-4">
									<label for="price">Price</label> <input type="text" class="form-control" id="price"
										th:field="*{price}" />
								</div>

								<div class="form-group col-md-6">
									<label for="brandName">Brand Name</label> <input type="text" class="form-control"
										id="brandName" th:field="*{brandName}" />
										
								</div>

								<div class="form-group col-md-6">
									<label for="supplier">Supplier</label> <input type="text" class="form-control"
										id="supplier" th:field="*{supplier}" />
								</div>

							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>


					<div class="col-md-10 offset-md-1">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Stock Name</th>
									<th scope="col">Brand Name</th>
									<th scope="col">Supplier</th>
									<th scope="col">Price/Stock</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item,iterator :${msList}">
									<th scope="row" th:text="${iterator.count}">1</th>
									<td th:text="${item.name}"></td>
									<td th:text="${item.brandName}"></td>
									<td th:text="${item.supplier}"></td >
									<td th:text="${item.price}"></td >
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</section>
		</div>
		<!-- main content end -->

		<!-- Main Footer -->
		<footer th:insert="~{/fragments::theFooter}"></footer>
	</div>
	<!-- ./wrapper -->

	<!-- javascript tags -->
	<th:block th:insert="~{/fragments::body/script}" />

</body>

</html>